html{
	background-color: var(--wht);
	width: 100%;
	scroll-behavior: smooth;
}

/* root */
:root {
	--wht: #f4f4f4;
	--light-black: rgba(0, 0, 0, 0.75); 

	--lady-house-green: rgb(102, 126, 89);

	--heading-font: "Playfair Display", serif;
	--body-font: "Manrope", sans-serif;

	--box-shadow-minimal: "box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px";
	--box-shadow-prominent: "rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px";
}

/* global */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	text-wrap: balance;
	width: 100%;

}


html,
body {
	/* overflow-x: hidden; */
	line-height: 1.5;
  text-wrap: balance;
	width: 100%;
}

main {
	padding: 0 1rem 1rem 1rem;
}



header,
footer {
	background-color: var(--lady-house-green);
  width: 100%;
}

footer {
	background-color: rgba(102, 126, 89, 0.95);
}

h1,
h2,
h3 {
	font-family: var(--heading-font);
}

li {
	list-style: none;
}

p {
	font-family: var(--body-font);
}

a {
	text-decoration: none;
	cursor: pointer;
}

header {
	box-shadow: var(--box-shadow-prominent);
}

button {
	all: unset;
}

path {
	stroke: var(--wht);
}

.blur {
	filter: blur(0.75rem);
}

.section-spacing{
  margin: 2rem 0;
}

.remove-scroll {
	overflow: hidden;
}