
/* navbar */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--wht);
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.25rem;
}

.nav-logo img {
	border-radius: 50%;
	height: 75px;
	width: 75px;
}

.nav-item {
	font-family: var(--heading-font);
}

.nav-link {
	font-weight: 700;
	color: var(--wht);
}

.nav-link:hover {
	color: tan;
	border-bottom: 2px solid tan;
}

.current-link {
	color: tan;
	border-bottom: 2px solid tan;
}

.button-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

/* hero */
#hero {
	background-image: url(assets/gif.gif);
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;

}

.content-container {
	background-color: rgba(244, 244, 244, .7);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	padding: 1rem;
}

.content-container h1 {
	font-size: clamp(3rem, 2.913rem + 0.4348vw, 3.5rem);
	max-width: 40ch;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
}

.content-container p {
	max-width: 65ch;
}

.quick-connect {
	width: 100%;
}

.quick-connect ul {
	background-color: var(--lady-house-green);
	padding: 1rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


.quick-connect p {
		color: var(--wht);
		max-width: 20ch;
	}

/* service section */

.services-section {
	/* height: 500px; */
}

.services-section ul {
	font-family: var(--body-font);
	text-decoration: none;
}

.services-section a:visited,
.amenities-section a:visited {
	color: inherit;
}

/* amenities */

.amenities-section ul {
	font-family: var(--body-font);
}

/* testimonial */
.testimonial-card-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: 2rem;
}

.button {
  appearance: none;
  background-color: var(--lady-house-green);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: var(--wht);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-weight: 600;
  line-height: 20px;
  padding: 1.2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
	max-width: fit-content;
}

.quick-connect-button{
		appearance: none;
		background-color: var(--wht);
		border: 1px solid rgba(27, 31, 35, .15);
		border-radius: 6px;
		box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
		box-sizing: border-box;
		color: var(--lady-house-green);
		cursor: pointer;
		display: inline-block;
		font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
		font-weight: 600;
		line-height: 20px;
		padding: 1rem 1.5rem;
		position: relative;
		text-align: center;
		text-decoration: none;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		vertical-align: middle;
		white-space: nowrap;
		max-width: fit-content;
	}


.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: var(--lady-house-green);
}

.button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.heading-word-spacing{
	letter-spacing: .15rem;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.35);
}

.testimonial-card {
	background-repeat: repeat;
	color: var(--wht);
	background-color: var(--lady-house-green);
	padding: 1.25rem;
	margin: 1rem 0;
	/* font-size: clamp(0.85rem, 0.7065rem + 0.2174vw, 1rem); */
} 

.member-score {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.25rem;
	border-bottom: 2px solid rgba(245, 245, 245, 0.15);
}

.name,
.testimonial-card span {
	font-family: var(--heading-font);
}

.name {
	color: black;
}

.member {
	color: var(--wht);
}

/* footer */

.footer-img {
	max-width: auto;
	height: 300px;
	padding: 1.75rem;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}

.small-topper-left {
	color: var(--lady-house-green);
	text-align: left;
	font-size: .75rem;
	letter-spacing: 0.25rem;
	font-weight: 700;
}

footer {
	overflow: hidden;
	font-size: clamp(1rem, 0.8261rem + 0.8696vw, 2rem);
}

footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

footer li {
	display: inline;
}

footer a {
	font-family: var(--body-font);
}

/* footer a:visited {
	color: var(--wht);
} */

.footer-section {
	display: flex;
	flex-direction: column;
	margin-top: .5rem;
}

.map-and-directions {
	font-weight: bold;
	color: black;
	font-family: var(--heading-font);
}

a[href^="tel:"],
a[href^="mailto:"] {
	color: black;
}

/* .footer-section a {
	line-height: 2rem;
} */

footer > * {
	padding: 0.5rem 1rem;
	text-align: left;
}

footer h1:first-of-type {
	text-align: center;
}


address > * {
	/* line-height: 2rem; */
	color: var(--wht);
	font-style: normal;
}

address h3 {
	color: black;
}

address a:hover {
	border-bottom: 2px solid var(--wht);
}

address span {
	font-family: var(--body-font);
	color: black;
}

.copyright-container {
	display: flex;
	flex-direction: column;
	font-size: clamp(.5rem, 0.8261rem + 0.8696vw, 1rem);
	color: var(--wht);

	font-family: var(--body-font);
}

iframe {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.copyright-container {
	text-align: center;
} 

/* form */

.form-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 2rem;
}

.form-container section {
	flex: 1;
	font-size: clamp(1rem, 0.8261rem + 0.8696vw, 2rem);
}

.responsive-form {
	flex: 1;
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	color: rgb(102, 126, 89);
	font-family: var(--heading-font);
}

input,
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input:focus,
textarea:focus {
	border-color: rgb(102, 126, 89);
	outline: none;
}


button:hover {
	background-color: rgb(92, 116, 79);
}




/* MEDIA QUERIES */

/* 769PX OR LESS **MOBILE** */

@media screen and (max-width: 769px) {
	header {
		position: sticky;
		top: 0;
		width: 100%;
		z-index: 999;
	}

	.hero-container {
		flex-direction: column;
	}

	.programs-grid {
		grid-template-columns: 1fr;
	}

	.services-content ul {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.nav-menu {
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		width: 100%;
		text-align: center;
		transition: .3s;
	}

	.nav-menu.active {
		left: 0;
		top: 7rem;
		position: absolute;
		background-color: var(--lady-house-green);

		gap: .25rem;

	}

	.nav-item {
		margin: 2rem 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.navigation-button-container {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.quick-connect ul {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
		text-align: center;
	}

	.testimonial-card-container {
		grid-template-columns: 1fr;
		gap: 1rem;
		place-items: center;
	}

	.responsive-form {
		padding: 15px;
}

.form-container {
	flex-direction: column;
}

}

/* desktop */
@media screen and (min-width: 769px) {
  .footer-section-container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	iframe {
		height: 500px;
	}
  
	.footer-bottom-container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 1rem;
	}
}

/* .remove-scroll {
	overflow: hidden;
} */